.c-typing-item {
    display: flex;
    gap: 10px;

    .left {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex;
        align-items: center;
        background-color: #eee;
        border-radius: 18px;
        padding: 0 10px;
    }
}