.media-content {
    height: 100%;

    .media-item__listDocs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__item {
            max-width: 100%;
            display: flex;
            align-items: flex-start;
            gap: 8px;
            position: relative;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: 1px solid #eee;
            background: #f3f3f3;
            border-radius: 16px;

            &:hover {

                .options,
                .options_receive {
                    display: flex;
                }
            }

            &:last-child {
                border: 0;
            }

            &__content {
                display: flex;
                gap: 16px;
                align-items: center;
                flex: 1;
                max-width: calc(100% - 50px);

                &__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    background: #ccc;
                    border-radius: 16px;
                    font-size: 16px;
                }

                &__name {
                    font-weight: 600;
                    width: calc(100% - 56px);

                    div {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .options {
                display: none;
                cursor: pointer;
                padding: 4px;
                width: 14px;
                height: 14px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background: #ccc;
                position: relative;
                top: 6px;
                right: 10px;

                & span {
                    margin: 0;
                }
            }
        }
    }

    .no-data {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}