.incoming-call-card {

    .group {
        .avatar {
            height: 70px;
            width: 70px;
        }

        .name {
            margin-top: 0;
        }
    }

    .not-group {
        .avatar {
            height: 100px;
            width: 100px;
        }

        .name {
            margin-top: 0;
        }
    }


}

.incoming-call-modal {
    .ant-modal-content {
        width: 350px;

        .ant-modal-body {
            text-align: center;

            min-height: 150px;
        }
    }

}

.incoming-call-card-footer {
    margin-top: 32px;
    justify-content: space-around;
    display: flex;
}

.incoming-call-modal {
    .incoming-call-card {
        padding: 20px;
        text-align: center;

        .group {
            .avatar-group {
                display: flex;
                justify-content: center;
                gap: 8px;
                margin-top: 16px;
            }
        }

        .not-group {
            margin-top: 16px;
            .avatar {
                margin-top: 8px;
            }
        }
    }

    .incoming-call-card-footer {
        display: flex;
        justify-content: space-around;
        margin-top: 24px;

        .reject-button {
            background-color: #f44336; // Red color
            border-color: #f44336;
            color: #fff;
            margin: 2.5px;
            &:hover {
                background-color: #d32f2f;
                border-color: #d32f2f;
            }
        }

        .accept-button {
            background-color: #4caf50; // Green color
            border-color: #4caf50;
            color: #fff;
            margin: 2.5px;
            &:hover {
                background-color: #388e3c;
                border-color: #388e3c;
            }
        }
    }
}
