.c-room-list {
  width: 344px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.45);
  flex-shrink: 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 16px 18px 16px;

    .page-title {
      font-size: 24px;
      font-weight: 700;
    }

    .new-chat {
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #eee;
      }

      img {
        width: 22px;
      }
    }
  }

  .search-msg {
    margin: 0 16px 10px 16px;

    &-inner {
      border-radius: 12px;
      height: 36px;
      background-color: #eee;
      width: 100%;

      input {
        margin-left: 8px;
        background-color: #eee;
        font-size: 14px;
      }
    }
  }

  .list-msg {
    overflow-y: hidden;
    flex: 1;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  .avatar-wrap img {
    border: 2px solid #0a7cff;
    box-sizing: border-box;
  }
}
